<h2>LittlePlates Menu</h2>

<ol>
    <li>Cheese - $6.00</li>
    <li>Prosciutto - $10.00</li>
    <li>Olives - $4.00</li>
    <li>Sangria Pitcher - $20.50</li>
</ol>
<br>

{{#each images}}
  <img src="{{../imagesFolder}}{{this}}.jpg" alt="">
{{/each}}